
prefer-no-csd // rimuove le decorazioni client non richieste

screenshot-path "~/Immagini/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

environment {  //attenziona alla visibilita, se  le app sono avviate tramite systemd potrebbero non essere viste
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    QT_QPA_PLATFORM "wayland;xcb"
    QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
    XDG_SESSION_TYPE "wayland"
    XDG_CURRENT_DESKTOP "niri"
    QT_QPA_PLATFORMTHEME "qt6ct"
}


debug {
        // Allows notification actions and window activation from Noctalia.
        honor-xdg-activation-with-invalid-serial
        wait-for-frame-completion-before-queueing
}



/-cursor { //se vuoi cambiare il mouse
    xcursor-theme "breeze_cursors"
    xcursor-size 48
}

